* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1440px;
    width: 70%;
    margin: 0 auto;
}

#banner {
    height: 600px;
    background: url('../assests/Banner\ Image.png'), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

    background-blend-mode: multiply;
}

#banner_text {
    width: 50%;
    margin: 0 auto;
    /* margin-top: 177px; */
    padding: 177px;
}

#banner_text>h3 {
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-align: center;
}

#banner_text>h1 {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.discount_section {
    margin-top: 120px;
    text-align: center;
}

.discount_section h1 {
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    color: #F00;
    font-family: Inter;
}

.categories {
    margin-top: 50px;
}

.categories>h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.categories>h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
    padding-top: 16px;
}

.discount_section>img {
    padding-top: 50px;
}

.party_section {

    height: 600px;
    background: url('../assests/Vectorrr.png'), linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

    margin-top: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-blend-mode: multiply;
}

.party_section>div {
    padding: 100px 120px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.party_section>div h1 {
    font-size: 64px;
    color: #ffffff;
    letter-spacing: 7.04px;
    font-weight: 900;
    line-height: 88px;
    font-family: Merriweather;
}

.party_section>div p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;

}

.party_section>div a {
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.time_section {
    margin-top: 120px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}

.time_section>div {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.red_font {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;

    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.time_section>div h1 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.time_section>div button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;

    font-weight: 700;


    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-top: 50px;
}

#offer_div {
    margin-top: 120px;
    display: flex;
    gap: 50px;
    align-items: center;
}

#offer_div div {
    width: 33%;
}

#grp_img {
    border: 15px solid red;
    border-radius: 50%;
    padding: 20px;
}

#text_div h3 {
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;

}

#text_div h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;

    text-transform: capitalize;
}

#text_div p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

#text_div2 h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}


#text_div2 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 30px;
}

#portfolio_section {
    margin-top: 150px;
}

#portfolio_section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}

#portfolio_section h1 {
    padding: 25px 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

#portfolio_section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
    /* 160% */
}

#img_section {
    margin-top: 50px;
}

.img_gallery {

    display: flex;
    gap: 24px;
    padding-bottom: 30px;
}

.img_gallery img {
    width: 700px;
}

.img_gallery img:hover {
    border: 2px solid #F00;
    border-radius: 16px;
}

#email_section {
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    height: 616px;
    padding-bottom: 50px;
}

#email_innerSection {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 80px;
}

#email_innerSection>h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    padding-top: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

#email_innerSection>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 50px;

}

#email_filed {
    height: 30px;
    width: 438px;
    padding: 10px 20px;
    border-radius: 30px 0px 0px 30px;
    font-size: 20px;
    border: none;
}



#subscrive {
    /* height: 30px; */
    padding: 18px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    word-spacing: 5px;
    width: 120px;
    margin-left: -5px;
}

footer {
    margin-top: 120px;
    background: #070211;
    height: 600px;
}

.text_white {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;

}

.footer_top {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.social_logo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer_end {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 120px;
}

small {
    color: #FFF;
}

i {
    padding-right: 10px;
}